<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true"> 

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./log/cmp_proxy.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>cmp_proxy.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern>
      </layout>
  </appender>
    
  <root level="debug">
  	<if condition='property("logback.appenders").contains("CONSOLE")'>
  		<then>
  	  		<appender-ref ref="CONSOLE" />
  	  	</then>	
  	</if>
  	<if condition='property("logback.appenders").contains("FILE")'>
  		<then>
  			<appender-ref ref="FILE" />
  		</then>
  	</if>
  </root>
</configuration>